.section-form{
    background-color: var(--secondary-color);
    display: flex;
    align-items: start;
    border-radius: 5px;
    padding:  30px;        //20px 16px;
    justify-content: start;
    box-shadow: var(--light-shadow1);
    min-height: 200px;
    flex-direction: column;
    width: 100%;

    @media (max-width: 768px) {
      padding: 12px;
    }

    
    .form-top-title {
        color: var(--text-color-inverted);
        font-weight: "500";
      }
    
    .section-table{
        background-color: var(--secondary-color);
        color: var(--text-color-inverted);

        .p-datatable-thead > tr > th {
            background-color: var(--thead-bg-color); // Use your variable or a hardcoded value
            // color: var(--header-text-color); // Use your variable or a hardcoded value
             padding: 0 10px; // Add padding for spacing
          }

          .p-row-editor-init {
            color: var(--text-color-inverted); // Edit icon color
            margin: 13px;
          }
      
          .p-row-editor-save {
            color: var(--text-color-inverted); // Save icon color
            margin: 13px;
          }
      
          .p-row-editor-cancel {
            color: var(--text-color-inverted); // Cancel icon color
          } 
          .p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current{
            color: var(--text-color-inverted);
            margin-left: 5px;
            margin-top: 20px;
          }
    } 
  }

  .dialog-label{
    display: flex;
    flex-direction: column;
  }
 
  .dialog-input-text{
    margin: 8px 1px 0px 1px;
    height: 40px;
    //width: 100%;
    border: 1px solid var(--text-color-inverted);
    border-radius: 10px;
    background: var(--input-background-color);
    padding: 8px;
    color: var(--base-text-color);
    font-size: 16px; 
    resize: none; 
    overflow: hidden;
  }

  .p-dialog-footer{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    gap: 8px;
  }

  .dialog-btn{
    font-size: 16px;
    padding: 10px 22px;
    color: #ffffff; 
    border-radius: 8px; 
    background-color: var(--primary-color);
  }

  .p-dialog-title{
    font-size: 21px;
  }

  .dialog-image-upload-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--text-color-inverted); 
    border-radius: 10px;
    margin: -12px;
    overflow: hidden;
    background-color:var(--secondary-color) ;
  }
  
  .image-upload-input {
    display: none;
  }
  
  .image-upload-filename {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--base-text-color);
    height: 40px; 
    font-size: 16px;
  }
  
  .image-upload-button {
    background-color: var(--primary-color);
    color: white;
    height: 40px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
